* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    width: 100%;
    height: 70px;
    background: rgb(61, 236, 61);
    color: white;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    display: flex;
    justify-content: space-between;
}

.logo a {
    text-decoration: none;
    color: white;
    font-family: cursive;
    font-size: 42px;
    padding-left: 15px;
}

.primero {
    font-size: 24px;
    padding: 19px 20px 0 0;
}

.primero a {
    text-decoration: none;
    color: white;
    margin: 6px;
}



/* primera caja */
.caja1 {
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



/* Para mostrar el logo completo*/
.circulo {
    width: 480px;
    height: 470px;
    border: solid black 2px;
    border-radius: 50%;
    font-family: cursive;
    text-align: center;
    background-color: rgba(39, 248, 39, 0.9);
    margin-top: 70px;
}

#mujer {
    width: 550px;
    height: 350px;
    position: relative;
    left: 100px;
    bottom: 20px;
}

#titlogo {
    font-size: 65px;
    position: relative;
    right: 70px;
    bottom: 150px;
}

.circulo a {
    text-decoration: none;
    color: black;
    font-size: 35px;
    position: relative;
    bottom: 140px;
}




/* Lo más vendido */
.tops {
    width: 650px;
    height: 300px;
    margin: 100px 30px 0 8px;
}

.contenedora-tops {
    margin-left: 30px;
}

/* Class creada para limitar el tamaño de los cuadros */
.medidas-cajitas {
    width: 200px;
    height: 200px;
    float: left;
    margin-top: 30px;
    margin-right: 5px;
}

/* Para todas las imagenes dentro de los cuadritos */
.tops img {
    width: 190px;
    height: 234px;
    border: solid rgb(61, 236, 61) 4.5px;
}


/* De lo más vendido */
.titulo {
    text-align: center;
    font-size: 36px;
}

.titulo h1 {
    border-bottom: solid rgb(183, 50, 245) 1px;
}



/* Primera cajita de lo más vendido */
.p-berenjena {
    width: 140px;
    height: 70px;
    margin: 6px 0 0 30px;
    border: solid rgb(183, 50, 245) 2px;
    padding: 5px;
    text-align: center;
}


/* Segunda cajita de lo más vendido */
.p-cebolla {
    width: 140px;
    height: 70px;
    margin: 6px 0 0 27px;
    border: solid rgb(183, 50, 245) 2px;
    padding: 5px;
    text-align: center;
}


/* Tercera cajita de lo más vendido */
.e-arabes {
    width: 140px;
    height: 70px;
    margin: 6px 0 0 25px;
    border: solid rgb(183, 50, 245) 2px;
    padding-top: 13px;
    text-align: center;
}





/* Mis datos */
.stuff {
    width: 400px;
    height: 120px;
    border: solid rgb(183, 50, 245) 3px;
    position: relative;
    left: 280px;
    bottom: 8px;
}

.circulo2 {
    width: 90px;
    height: 90px;
    border: solid black 1px;
    border-radius: 50%;
    background-image: url(img/perfil.jpg);
    background-size: cover;
    background-repeat: no repeat;
    background-position: center;
    background-size: 80px;
    position: absolute;
    top: 12px;
    left: 50px;
}

.info {
    text-align: center;
    font-size: 25px;
    position: absolute;
    left: 160px;
    top: 20px;
}





/* titulo para el formulario */
#titulo-for {
    text-align: center;
    font-size: 19px;
    margin-top: 150px;
}

/* Formulario de opiniones */
.for-opiniones {
    width: 850px;
    height: 350px;
    border: solid rgb(183, 50, 245) 3px;
    background-color: rgba(183, 50, 245, .4);
    text-align: center;
    margin: 15px auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}


.parte1-for {
    float: left;
}

#estado {
    margin: 30px 0 8px 70px;
}

#si {
    margin-top: 5px;
}

#horas {
    margin: 5px 0 10px 70px;
}

#esc {
    margin-top: 5px;
}

#agregados {
    margin-left: 70px;
}

#variante {
    margin-top: 5px;
}


/* detalles para los elementos del formulario */
.detalles {
    border: solid white 1px;
    background-color: white;
    width: 300px;
}



.parte2-for {
    float: right;
    text-align: center;
}

#cuadro-texto {
    margin: 30px 50px 0 0;
}

#textarea {
    margin-top: 8px;
}

#disfrute {
    margin-left: 20px;
}

#caducado {
    margin: 0 0 0 20px;
}

#afirmativo {
    margin-top: 5px;
}


.boton button {
    width: 120px;
    border-color: rgb(183, 50, 245);
    background-color: white;
    padding: 10px 30px 10px 30px;
    float: left;
    margin: 20px 0 0 190px;
}


footer {
    background-color: rgb(61, 236, 61);
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    width: 100%;
    height: 90px;
    color: white;
}

.copy-ts {
    margin: 4px 0 5px 0;
    font-size: 25px;
    text-align: center;
}

.contenedor-f {
    width: 350px;
    margin: 0 auto;
    position: relative;
}

.face {
    font-size: 50px;
    position: absolute;
    bottom: -32px;
}

.mapa {
    position: absolute;
    left: 100px;
}

.wsp {
    font-size: 54px;
    position: absolute;
    left: 310px;
    bottom: -34px;
}

/* TERMINA INDEX */








/* COMIENZA HTML PRODUCTOS */

.titulo-pf h1 {
    width: 350px;
    border-bottom: solid rgb(183, 50, 245) 2px;
    text-align: center;
    font-size: 50px;
    margin: 95px 0 30px 40px;
}

/* Primera fila de galeria */
.primerafila-prod {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

}

/* Tamaño para todas las imagenes */
.primerafila-prod img {
    width: 260px;
    height: 340px;
    border: solid rgb(61, 236, 61) 5px;
}


/* Parametros para el vinculo */
.esc-pollo a {
    text-decoration: none;
    color: white;
    font-size: 33px;
    width: 100px;
    height: 40px;
    padding: 20px 50px 20px 50px;
    background-color: rgba(183, 50, 245, .8);
}

.esc-pollo {
    position: relative;
    bottom: 170px;
    left: 25px;
}

#info1 {
    padding: 10px;
    position: relative;
    bottom: 27px;
    left: 16px;
}



/* Medidas generales para la información */
.info-venta {
    width: 230px;
    height: 100px;
    text-align: center;
    border-radius: 5px;
    border: solid purple 2px;
    color: black;
}


/* Textos comunes. Solo habrá un ejemplo */
.esc-morron {
    width: 200px;
    height: 100px;
    color: white;
    background-color: rgba(183, 50, 245, .8);
    font-size: 30px;
    padding: 15px 0 0 45px;
    position: relative;
    bottom: 190px;
    left: 25px;
}

#info2 {
    padding: 9px;
    position: relative;
    bottom: 90px;
    left: 17px;
}



.esc-zanahoria {
    width: 200px;
    height: 70px;
    padding: 15px 0 20px 18px;
    font-size: 32px;
    color: white;
    background-color: rgba(183, 50, 245, .8);
    position: relative;
    bottom: 190px;
    left: 25px;
}

#info3 {
    padding: 8px;
    position: relative;
    bottom: 60px;
    left: 17px;
}



.esc-cebolla {
    width: 200px;
    height: 70px;
    background-color: rgba(255, 255, 255, .8);
    font-size: 33px;
    padding: 15px 0 0 25px;
    position: relative;
    bottom: 190px;
    left: 25px;
}

#sinstock {
    opacity: .7;
}

#info4 {
    padding: 15px;
    position: relative;
    bottom: 58px;
    left: 18px;
}






/* Titulo para la segunda galeria  */
.titulo-sf h1 {
    width: 350px;
    border-bottom: solid rgb(183, 50, 245) 2px;
    text-align: center;
    font-size: 50px;
    margin: 50px 0 30px 40px;
}


/* Segunda fila de galeria  */
.segundafila-prod {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.segundafila-prod img {
    width: 260px;
    height: 340px;
    border: solid rgb(61, 236, 61) 5px;
}

/* general para el fondo de los nombres */
.medidas-empanadas {
    width: 200px;
    height: 70px;
    background-color: rgba(183, 50, 245, .8);
    color: white;
    position: relative;
    bottom: 180px;
    left: 25px;
}

.emp-carne {
    padding: 15px 0 10px 45px;
    font-size: 33px;
}

.emp-arabe {
    padding: 15px 0 10px 40px;
    font-size: 33px;
}

.emp-jyq {
    padding: 15px 0 10px 0;
    text-align: center;
    font-size: 30px;
    height: 100px;
}

.emp-pollo {
    padding: 15px 0 10px 50px;
    font-size: 33px;
}

#info5 {
    width: 450px;
    height: 130px;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    border: solid purple 2px;
    color: black;
    position: relative;
    bottom: 140px;
    left: 455px;
    padding-top: 12px;
}

#info5 i {
    margin-left: 5px;
    height: 30px;
}

#info5 h3 {
    font-size: 28px;
}

.boton-volver a {
    text-decoration: none;
    padding: 10px 30px;
    border: solid blueviolet 1px;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
}

#botonv-1 {
    position: relative;
    bottom: 20px;
}

/* TERMINA HTML PRODUCTOS */


/* COMIENZA LOGIN */
.paraelfondo {
    height: 600px;
    width: 100%;
    background-image: url(img/cocina-26224.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form-login {
    width: 420px;
    height: 320px;
    border: solid purple 1px;
    background-color: rgba(183, 50, 245, .8);
    text-align: center;
    margin: 98px auto;
}

.form-login h2 {
    font-size: 40px;
    color: white;
    padding-top: 50px;
}

#usuario {
    width: 300px;
    height: 40px;
    border-color: purple;
}

#contraseña {
    width: 300px;
    height: 40px;
    border-color: purple;
    margin-top: 30px;
}

#boton-login {
    background-color: white;
    padding: 10px 30px;
    border-color: purple;
    margin-top: 30px;
}

.contenedorr {
    width: 400px;
    height: 42px;
    position: relative;
    left: 530px;
    bottom: 65px;
}

.pregunta {
    font-size: 20px;
    color: black;
    float: left;
    background-color: rgba(183, 50, 245, .4);
}

.enlace-registro a {
    text-decoration: none;
    color: white;
    border: solid purple 2px;
    background-color: rgba(183, 50, 245, .8);
    padding: 10px 23px;
    margin-left: 5px;
}

/* TERMINA LOGIN */





/* COMIENZA REGISTRO */
.form-registro {
    width: 410px;
    height: 450px;
    border-color: blueviolet;
    background-color: rgba(183, 50, 245, .8);
    margin: 70px auto;
    text-align: center;
}

.form-registro h2 {
    font-size: 34px;
    color: white;
    padding-top: 30px;
}

.paratodos {
    width: 273px;
    height: 40px;
    margin-top: 10px;
    border-color: purple;
}


#boton-registro {
    border-color: purple;
    background-color: white;
    padding: 10px 32px;
    margin-top: 30px;
}

/* TERMINA REGISTRO */



/* MUESTRA FOTO PRODUCTO */
.f-p {
    background-color: rgba(183, 50, 245, .4);
}

.muestra-prod {
    width: 100%;
    height: 800px;
}

.foto-producto img {
    width: 500px;
    height: 610px;
    border: solid rgb(61, 236, 61) 7px;
    float: left;
    margin: 60px 0 0 70px;
}

.contenedor-texto {
    float: right;
    margin: 180px 60px 0 0;
    color: black
}

.contenedor-texto h1 {
    font-size: 40px;
    border-bottom: solid white 2px;
    text-align: center;
}

.informacion-p {
    font-size: 25px;
    margin: 50px 0 0 30px;
}

#para-cantidad {
    font-size: 20px;
    width: 200px;
    height: 50px;
    border: solid white 1px;
    margin: 53px 0 0 330px;
    text-align: center;
    padding: 10px 20px;
    background-color: white;
}

#cantidad {
    border: solid black 2px;
    font-size: 15px;

}

.boton-muestra a {
    text-decoration: none;
    color: black;
    width: 200px;
    height: 100px;
    background-color: white;
    padding: 14px 30px;
    font-size: 20px;
    position: relative;
    bottom: 36px;
    left: 100px;
}